<<<<<<< HEAD
header ul {
	padding: 0;
}
header li {
    list-style: none;
    display: inline;
    font-size: 20px;
    margin: 0 10px;
}
header li a {
	text-decoration: none;
=======
header ul {
	padding: 0;
}
header li {
    list-style: none;
    display: inline;
    font-size: 20px;
    margin: 0 10px;
}
header li a {
	text-decoration: none;
>>>>>>> 927d0eab9c8ff50cf23bc2ae44b730c7ff60c789
}